version: '3.0'
services:
  db:
    image: postgres:12.4
    restart: always
    container_name: db
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    container_name: backend
    restart: always
    image: valentaine98/eatpoint-backend:latest
    expose:
      - 8000
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
      - template_value:/app/template/
    depends_on:
      - db
    env_file:
      - ./.env

  nginx:
    image: nginx:1.21.3-alpine
    restart: always
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - template_value:/app/template/
    depends_on:
      - backend

volumes:
  postgres_data:
  static_value:
  media_value:
  template_value:
  result_build: